@{
    ViewData["Title"] = "Overview";
}
<h1>@ViewData["Title"]</h1>


    <p><b> Coding School is online learning school which offers wide range of courses for different age groups according to skill level.
    Here are some offers we provide our learners.</b></p>
<!DOCTYPE html>
<html>
<head>
    <style>
        
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>

    <br />
    <h2> </h2>

    <table>
        <tr>
            <th>Online Program</th>
            <th>Cost</th>
            <th>Entry level</th>
        </tr>
        <tr>
            <td>Web Development</td>
            <td>$120/mon</td>
            <td>Beginner</td>
        </tr>
        <tr>
            <td>Web Designing</td>
            <td>FREE</td>
            <td>Intermediate</td>
        </tr>
        <tr>
            <td>Backend Development</td>
            <td>$150/mon</td>
            <td>Advance</td>
        </tr>
        <tr>
            <td>Software development</td>
            <td>$120/mon</td>
            <td>Advance</td>
        </tr>
        <tr>
            <td>Ethical Hacking</td>
            <td>$100/mon</td>
            <td>Beginner</td>
        </tr>
        <tr>
            <td>Cloud Computing</td>
            <td>FREE</td>
            <td>Intermediate</td>
        </tr>
    </table>
    <br />
    <p><b> Languages our acedmy offers are provided below:</b></p>
    <table>
        <tr>
            <th>Languages</th>
            <th>Classes</th>
        </tr>
        <tr>
            <td>Python</td>
            <td>30 Classes</td>
        </tr>
        <tr>
            <td>Ruby</td>
            <td>30 Classes</td>
        </tr>
        <tr>
            <td>Javascript</td>
            <td>25 Classes</td>
        </tr>
        <tr>
            <td>Go</td>
            <td>25 Classes</td>
        </tr>
        <tr>
            <td>C#</td>
            <td>20 Classes</td>
        </tr>
        <tr>
            <td>Java</td>
            <td>30 Classes</td>
        </tr>
    </table>
















</body>
</html>
