@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Privacy Policy for our site & app
    Our Free Privacy Policy Generator includes several provisions and sections to help you effectively protect your customers privacy, while limiting your liability, all while adhering to the most notable privacy laws around the world and 3rd party requirements, including:
    California Consumer Privacy Act (CCPA)

    General Data Protection Regulation (GDPR)

    Google Play

    Apple Store

    Google AdSense

    Google AdWords (Ads)

    Google Analytics

    + Many More


</p>
